# Python Version

In [4]:
import sys

if sys.version_info.major ==3 and sys.version_info.minor >= 6:
    print("Hello World!")
    print(f"Python version; {sys.version}")
else:
    print("Please use Python 3.6 or highger.")

Hello World!
Python version; 3.11.10 | packaged by Anaconda, Inc. | (main, Oct  3 2024, 07:22:26) [MSC v.1929 64 bit (AMD64)]

# Numeric Data Types

In [5]:
age = 23 #int
pi = 3.14 #float
temperature = -5.5 #float
print("data type of variable age = ", type(age))
print("data type of variable pi = ", type(pi))
print("data type of variable temperature = ", type(temperature))

data type of variable age =  <class 'int'>
data type of variable pi =  <class 'float'>
data type of variable temperature =  <class 'float'>

# Sequence: str

In [8]:
name = "Alice"
greeting = 'Hello'
address = "123 Main St"
print("data type of the variable name = ",type(name))
print("data type of the variable greeting = ",type(greeting))
print("data type of the variable address = ",type(address))
# slice only one element
print("The first letter of the name is:", name[0])
print("The last letter of the name is:", name[-1])
# slice a range of elements
print("The second letter to the fourth of the name is:", name[1:4])
print("The first two letters of the name are:", name[:2])
print("Substring starting from the third letter is:", name[2:])

data type of the variable name =  <class 'str'>
data type of the variable greeting =  <class 'str'>
data type of the variable address =  <class 'str'>
The first letter of the name is: A
The last letter of the name is: e
The second letter to the fourth of the name is: lic
The first two letters of the name are: Al
Substring starting from the third letter is: ice

# Sequence: list

In [9]:
list1 = [1, 2, 3, 4]
mixed_list = [12, "Hello", True]
# List is mutable
mixed_list[0] = False
mixed_list

[False, 'Hello', True]

# Sequence: tuple

In [13]:
colors = ('red', 'green', 'yellow', 'blue')
print("First element:", colors[0])
print("Last two elements:", colors[2:])
print("Middle two elements:", colors[1:3])
colors[0] = 'purple'
colors # will generate an error as tuple is immutable.

First element: red
Last two elements: ('yellow', 'blue')
Middle two elements: ('green', 'yellow')

TypeError: 'tuple' object does not support item assignment

# Mapping

## Dictionary

In [21]:
person = {'name':'John','age':30,'city':'Pittsburgh'}
print(f"Hello my name is {person['name']}. I am {person['age']} years old and I live at {person['city']}.")
print("All keys:", list(person.keys()))
print("All values:", list(person.values()))

Hello my name is John. I am 30 years old and I live at Pittsburgh.
All keys: ['name', 'age', 'city']
All values: ['John', 30, 'Pittsburgh']

## Set

In [23]:
unique_numbers = {1,2,3,3,3,3,4,5}
print(unique_numbers)

{1, 2, 3, 4, 5}

# Boolean

In [24]:
is_student = True
has_license = False
print("data type of the variable is_student = ",type(is_student))
print("data type of the variable has_license = ",type(has_license))

data type of the variable is_student =  <class 'bool'>
data type of the variable has_license =  <class 'bool'>

# Logical Statements

In [26]:
num = 10
if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Non-positive")

Positive

## Comparison operators

In [27]:
x = 5
y = 10
if x > 0 and y < 20:
    print("Both conditions are true")
if x > 0 or y > 20:
    print("At least one condition is true")
if not x == 0:
    print("x is not equal to 0")

Both conditions are true
At least one condition is true
x is not equal to 0

## Logical operators

In [28]:
# Define two boolean variables
a = True
b = False
# Using the ’and’ operator
if a and b:
    print("Both a and b are True")
else:
    print("Either a or b is False") # This will be printed
# Using the ’or’ operator
if a or b:
    print("At least one of a or b is True") # This will be printed
else:
    print("Both a and b are False")
# Using the ’not’ operator
if not a:
    print("a is False") # This will not be printed
else:
    print("a is True") # This will be printed

Either a or b is False
At least one of a or b is True
a is True

# Loops

In [30]:
# for loop:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit)
# While loop:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1
# Break
fruits = ["apple", "banana", "orange"]
print("loop 1")
for fruit in fruits:
    print(fruit)
    if fruit == "apple":
        break
# Continiue
print("loop 2")
for fruit in fruits:
    if fruit == "apple":
        continue
    else:
        print(fruit)

apple
banana
cherry
Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4
loop 1
apple
loop 2
banana
orange

# Functions

In [37]:
def add_binary(a, b):
    '''
    Returns the sum of two decimal numbers in binary digits.
    Parameters:
    a (int): A decimal integer
    b (int): Another decimal integer
    Returns:
    binary_sum (str): Binary string of the sum of a and b
    '''
    binary_sum = bin(a+b)[2:]
    return binary_sum

add_binary(2, 2)

'100'

## Built-in Functions

In [39]:
print("Hello, World!") 
length = len("Hello") 
print("length:", length)
data_type = type(42)
print("data type:", data_type)
total = sum([1, 2, 3])
print('total:', total)

Hello, World!
length: 5
data type: <class 'int'>
total: 6

## Built-in Methods

In [41]:
message = "hello".upper()
print(message)

fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)

info = {"name":"Alice", "age":25}
age = info.get('age')
print(age)

HELLO
['apple', 'banana', 'cherry']
25

## User Defined Functions

In [43]:
def temperature_converter():
    print("Choose conversion type:")
    print("1. Celsius to Fahrenheit")
    print("2. Fahrenheit to Celsius")
    choice = input("Enter 1 or 2:")
    if choice == "1":
        # Celsius to Fahrenheit conversion
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"{celsius}C is equal to {fahrenheit}F")
        return fahrenheit
    elif choice == "2":
        # Fahrenheit to Celsius conversion
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"{fahrenheit}F is equal to {celsius}C")
        return celsius
    else:
        print("Invalid choice.Please enter 1 or 2.")
        return None

temperature_converter()

Choose conversion type:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius

Enter 1 or 2: 1
Enter temperature in Celsius:  7

7.0C is equal to 44.6F

44.6

## Task 1

In [1]:
temperature = [8.2, 17.4, 14.1, 7.9, 18.0, 13.5, 9.0, 17.8, 13.0, 8.5,
16.5, 12.9, 7.7, 17.2, 13.3, 8.4, 16.7, 14.0, 9.5, 18.3, 13.4, 8.1,
17.9, 14.2, 7.6, 17.0, 12.8, 8.0, 16.8, 13.7, 7.8, 17.5, 13.6, 8.7,
17.1, 13.8, 9.2, 18.1, 13.9, 8.3, 16.4, 12.7, 8.9, 18.2, 13.1, 7.8,
16.6, 12.5]

cold_temp = []
mild_temp = []
comfortable_temp = []

for temp in temperature:
    if temp < 10:
        cold_temp.append(temp)
    elif temp >= 10 and temp < 15:
        mild_temp.append(temp)
    else:
        comfortable_temp.append(temp)

print("Cold temperature:", cold_temp)
print("Mild temperature:", mild_temp)
print("Comfortable temperature:", comfortable_temp)

Cold temperature: [8.2, 7.9, 9.0, 8.5, 7.7, 8.4, 9.5, 8.1, 7.6, 8.0, 7.8, 8.7, 9.2, 8.3, 8.9, 7.8]
Mild temperature: [14.1, 13.5, 13.0, 12.9, 13.3, 14.0, 13.4, 14.2, 12.8, 13.7, 13.6, 13.8, 13.9, 12.7, 13.1, 12.5]
Comfortable temperature: [17.4, 18.0, 17.8, 16.5, 17.2, 16.7, 18.3, 17.9, 17.0, 16.8, 17.5, 17.1, 18.1, 16.4, 18.2, 16.6]

## Task 2

In [8]:
m_count = 0
for m_temp in mild_temp:
    m_count = m_count + 1

print("Number of times the temperature was mild: ", m_count)

cm_count = 0
for cm_temp in comfortable_temp:
    cm_count = cm_count + 1

print("Number of times the temperature was comfortable: ", cm_count)

c_count = 0
for c_temp in cold_temp:
    c_count = c_count + 1

print("Number of times the temperature was cold: ", m_count)

Number of times the temperature was mild:  16
Number of times the temperature was comfortable:  16
Number of times the temperature was cold:  16

## Task 3

In [13]:
def temperature_convert(celsius):
    fahrenheit = (celsius * 9/5) + 32
    new_temp.append(round(fahrenheit,3))

new_temp = []

for temp in temperature:
    temperature_convert(temp)

print ("Temperature in Fahrenheit is: ", new_temp)

Temperature in Fahrenheit is:  [46.76, 63.32, 57.38, 46.22, 64.4, 56.3, 48.2, 64.04, 55.4, 47.3, 61.7, 55.22, 45.86, 62.96, 55.94, 47.12, 62.06, 57.2, 49.1, 64.94, 56.12, 46.58, 64.22, 57.56, 45.68, 62.6, 55.04, 46.4, 62.24, 56.66, 46.04, 63.5, 56.48, 47.66, 62.78, 56.84, 48.56, 64.58, 57.02, 46.94, 61.52, 54.86, 48.02, 64.76, 55.58, 46.04, 61.88, 54.5]

# Task 4

In [ ]:
import matplotlib.pyplot as plt

night_temp = []
day_temp = []
evening_temp - []

for temp in